.git/
.gitignore
.cache/
.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.env
.venv/
env/
venv/
ENV/

data/
experiments/
results/
sampling/
*.pt
*.pth
*.ckpt

NVSynthesis/apis/log
*.log
